<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MortysDLP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MortysDLP.Properties.Settings>
            <setting name="CURRENTVERSION" serializeAs="String">
                <value>2025.07.24</value>
            </setting>
            <setting name="DOWNLOADPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="YTDLPPATH" serializeAs="String">
                <value>Tools\\yt-dlp.exe</value>
            </setting>
            <setting name="FFMPEGPATH" serializeAs="String">
                <value>Tools\\ffmpeg.exe</value>
            </setting>
            <setting name="FFPROBEPATH" serializeAs="String">
                <value>Tools\\ffprobe.exe</value>
            </setting>
            <setting name="ZEITSPANNE_VON" serializeAs="String">
                <value />
            </setting>
            <setting name="ZEITSPANNE_BIS" serializeAs="String">
                <value />
            </setting>
            <setting name="CHECKED_ERSTESEKUNDEN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHECKED_VIDEOFORMAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHECKED_AUDIO_ONLY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHECKED_ZEITSPANNE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ERSTESEKUNDEN_SEKUNDEN" serializeAs="String">
                <value />
            </setting>
            <setting name="SELECTED_AUDIO_FORMAT" serializeAs="String">
                <value />
            </setting>
            <setting name="YTDLP_RELEASE_URL" serializeAs="String">
                <value>https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest</value>
            </setting>
        </MortysDLP.Properties.Settings>
    </userSettings>
</configuration>