<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MortysDLP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MortysDLP.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>2025.08.09</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="YtdlpPath" serializeAs="String">
                <value>Tools\\yt-dlp.exe</value>
            </setting>
            <setting name="FfmpegPath" serializeAs="String">
                <value>Tools\\ffmpeg.exe</value>
            </setting>
            <setting name="FfprobePath" serializeAs="String">
                <value>Tools\\ffprobe.exe</value>
            </setting>
            <setting name="TimespanFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="TimespanTo" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckedFirstSeconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedVideoFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedAudioOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedTimespan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstSecondsSeconds" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAudioFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="YtdlpReleaseURL" serializeAs="String">
                <value>https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest</value>
            </setting>
            <setting name="DownloadAudioOnlyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckedAudioOnlyPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MortysDLPUpdateExeFile" serializeAs="String">
                <value>MortysDLP-Updater.exe</value>
            </setting>
            <setting name="MortysDLPExeFile" serializeAs="String">
                <value>MortysDLP.exe</value>
            </setting>
            <setting name="MortysDLPUpdateZipFile" serializeAs="String">
                <value>MortysDLP_Update.zip</value>
            </setting>
            <setting name="MortysDLPUpdaterFolderName" serializeAs="String">
                <value>MortysDLP-Updater</value>
            </setting>
            <setting name="MortysDLPUpdaterBaseFolderName" serializeAs="String">
                <value>Updater</value>
            </setting>
            <setting name="VersionSkip" serializeAs="String">
                <value>latest</value>
            </setting>
            <setting name="ForceEnglishLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadHistoryFileName" serializeAs="String">
                <value>download_history.json</value>
            </setting>
            <setting name="DownloadHistoryFileMaxEntries" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MortysDLPGitHubAPIURL" serializeAs="String">
                <value>https://api.github.com/repos/MortysTerminal/MortysDLP/releases/latest</value>
            </setting>
            <setting name="MortysDLPGitHubURL" serializeAs="String">
                <value>https://github.com/MortysTerminal/MortysDLP</value>
            </setting>
        </MortysDLP.Properties.Settings>
    </userSettings>
</configuration>